.page-item {
    display: inline;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #196edd;
    border-color: #196edd;
}

.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
    color: #818a91;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.page-link {
    position: relative;
    float: left;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    color: #5cb85c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.page-link:focus,
.page-link:hover {
    color: #3d8b3d;
    background-color: #eceeef;
    border-color: #ddd;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.liStyles {
    display: inline-block;
    margin: 5px;
    padding: 0.5rem;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 12px; 
    min-width: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .liStyles:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }  
  
  @media screen and (max-width: 768px) {
    .liStyles {
        flex-basis: 17%;
    }
}

.containerStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 20px;
}

.imgStyles {
    object-fit: cover;
    height: auto;
    width: 100%;
    max-height: 27rem;
    max-width: 27rem;
    position: relative;
}

.loaderContainerStyles {
    object-fit: cover;
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderStyles {
    border: 2px solid black;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 35px; 
    font-weight: 500;
  }

  .tp-rt {
    right: -1rem;
    
    position: absolute;
    top: -37px;
    transform: skew(-9deg);
    width: fit-content;
    min-width: 65px;
    max-width: 220px;
  }
  
  .bottom-left {
    bottom: -2px;
    position: absolute;
    left: 6px;
    transform: skew(-15deg);
  }
  
  .bubble {
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 12px;
    display: inline-block;
    margin: .5em;
    padding: .5em 1em;
    position: absolute;
    font-size: 14px;
  }
  
  .bubble:before {
    border: solid 12px transparent;
    border-left: solid 12px #000;
    border-top: solid 12px #000;
    bottom: -25px;
    content: "";
    height: 0;
    right: 25px;
    position: absolute;
    transform: skew(-15deg);
    width: 0;
  }
  
  .bubble:after {
    border: solid 10px transparent;
    border-left: solid 10px #fff;
    border-top: solid 10px #fff;
    bottom: -18px;
    content: "";
    height: 0;
    right: 27px;
    position: absolute;
    transform: skew(-15deg);
    width: 0;
  }
  
  