.top-right {
    right: 1rem;
    
    position: absolute;
    top: -2px;
    transform: skew(-9deg);
    width: fit-content;
    min-width: 65px;
  }
  
  .bottom-left {
    bottom: -2px;
    position: absolute;
    left: 6px;
    transform: skew(-15deg);
  }
  
  .speech {
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 12px;
    display: inline-block;
    margin: .5em;
    padding: .5em 1em;
    position: absolute;
  }
  
  .speech:before {
    border: solid 12px transparent;
    border-left: solid 12px #000;
    border-top: solid 12px #000;
    bottom: -25px;
    content: "";
    height: 0;
    right: 25px;
    position: absolute;
    transform: skew(-15deg);
    width: 0;
  }
  
  .speech:after {
    border: solid 10px transparent;
    border-left: solid 10px #fff;
    border-top: solid 10px #fff;
    bottom: -18px;
    content: "";
    height: 0;
    right: 27px;
    position: absolute;
    transform: skew(-15deg);
    width: 0;
  }
  
  