.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    border-radius: 0.25rem;
}

.page-item {
    display: inline;
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #196edd;
    border-color: #196edd;
}

.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
    color: #818a91;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.page-link {
    position: relative;
    float: left;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    color: #5cb85c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.page-link:focus,
.page-link:hover {
    color: #3d8b3d;
    background-color: #eceeef;
    border-color: #ddd;
}

.liStyles {
    display: inline-block;
    margin: 5px;
    padding: 0.5rem;
    border: 1px solid #406bc3;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 2px;
    min-width: 30px;
}

.containerStyles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* margin-bottom: 11rem; */
    margin-right: 2rem;
    gap: 20px;
}

.imgStyles {
    object-fit: cover;
    height: auto;
    width: 100%;
    max-height: 27rem;
    max-width: 27rem;
    
}


.speechBubbleStyles {
    position: absolute;
    bottom: 20px; /* Adjusted to position the speech bubble at the bottom */
    right: 20px;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: 300px; /* Set a maximum width for the speech bubble */  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

.loaderContainerStyles {
    object-fit: cover;
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borderStyles {
    border: 2px solid black;
    border-radius: 0.5rem;

}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 35px; 
    font-weight: 500;
  }