.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #001f40a5;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 20%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add box-shadow for a subtle lift effect */
}

.scroll-to-top:hover {
  background-color: #004080; /* Darken the background on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Enhance box-shadow on hover */
  transform: scale(1.1); /* Add a slight scale effect on hover */
}

.dashboard {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  .dashboard {
    padding: 0;
  }
}

.panel {
  max-height: 70%;
  margin-left: 3rem;
  margin-right: 3rem;
  /* margin-bottom: 5rem; */
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 85%;
  float: left;
  background-color: #EFEFEF;
  border-radius: 15px;
}

.promptBox {
  position: relative; 
  flex-basis: 83.333333%;
  width: 75%;
  /* max-width: 100%;  */
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.textBox {
  position: relative; 
  flex-basis: 83.333333%;
  width: 75%;
  /* max-width: 100%;  */
  display: flex;
  flex-direction: column; 
  margin-top: 5px;
  gap: 10px;
}


textarea {
  display: flex;
  width: 100%;
  height: 6rem;
  padding: 0.5rem;
  font-size: 16px; /* Slightly increased font size for better readability */
  color: #fff; /* White text color */
  border: 2px solid #3498db; /* A blue border color */
  outline: none;
  font-family: 'Comic Sans MS', cursive; /* Updated font family */
  border-radius: 0.5rem; /* Slightly increased border-radius for rounded corners */
  background-color: #3f5870; /* Darker background color */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: 1rem; /* Added some bottom margin for spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* A subtle box shadow */
}


textarea::placeholder {
  color: #a0aec0;
}

textarea:focus {
  border-color: #4299e1;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.dark textarea {
  background-color: #2d3748;
  border-color: #4a5568;
  color: #ffffff;
}

.dark textarea::placeholder {
  color: #cbd5e0;
}

.dark textarea:focus {
  border-color: #4299e1;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}


button {
  color: #ffffff;
  background-color: #406bc3; 
  transition: background-color 0.3s ease; 
  font-weight: 500; 
  font-size: 0.75rem; 
  border-radius: 1rem; 
  max-width: 7.5rem;
  min-width: 7.5rem;
  padding: 0.4rem 1.5rem; 
  outline: none;
  border: none; 
  margin-bottom: 1rem;
}

button:hover {
  background-color: rgb(200, 55, 42); 
}

button:focus {
  box-shadow: 0 0 0 0.25rem rgba(66, 153, 225, 0.5); 
  outline: none; 
}

.dark button {
  background-color: #4a5568; 
}

.dark button:hover {
  background-color: #2a4365; 
}

.dark button:focus {
  box-shadow: 0 0 0 0.25rem rgba(66, 153, 225, 0.8); 
}

.container {
  margin-top: 1rem;
}